#do not store the main sources file in git, this one is created by a script
sources.yaml
sources.yaml_*

#the real config should not be in git, just give an example
config.yaml

#do not store any docker storage dirs
build/oxigraph-data
build/oxigraph-data/*
build/es-data
build/es-data/*
build/floci-data
build/floci-data/*

# PyInstaller
#   Usually these files are written by a python script from a template
#   before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyBuilder
.pybuilder/
target/

# Environments
.env
.envrc
.venv
env/
venv/
.idea/